<%- include('partials/head.ejs') %>

<%- include('partials/header.ejs') %>

<main class="container mt-5">
    <h2>Bienvenido a mi sitio web</h2>
    <p>¡Explora y descubre contenido interesante!</p>
    <a href="/users/login" class="me-3 btn btn-primary">Iniciar Sesión</a>
    <a href="/users/register" class="btn btn-secondary">Registrarse</a>
</main>

<%- include('partials/footer.ejs') %>
